html, body {
    width: 100%;
    height: 100%;
}

#container {
    height: 100%;
}

#metadata-container {
    height: 15%;
}

#doors-container {
    height: 35%;
}

.red {
    background-color: #c83300;
}

.green {
    background-color: #6edb00;
}

.blue {
    background-color: #3a3ac6;
}

.door-container {
    padding: 0;
    height: 100%;
}

#door-red-container {
}

#door-green-container {
}

#door-blue-container {
}

#door-red {
}

#door-green {
}

#door-blue {
}

.door {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 0;
    background-size: auto 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.door:hover {
    background-size: auto 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.door:active {
    border: 0;
}

.door-red-closed {
    background-image: url("../img/door_red_closed.png");
}

.door-red-open {
    background-image: url("../img/door_red_open.png");
}

.door-red-entered {
    background-image: url("../img/door_red_open.png");
}

.door-red-locked {
    background-image: url("../img/door_red_locked.png");
}

.door-green-closed {
    background-image: url("../img/door_green_closed.png");
}

.door-green-open {
    background-image: url("../img/door_green_open.png");
}

.door-green-entered {
    background-image: url("../img/door_green_open.png");
}

.door-green-locked {
    background-image: url("../img/door_green_locked.png");
}

.door-blue-closed {
    background-image: url("../img/door_blue_closed.png");
}

.door-blue-open {
    background-image: url("../img/door_blue_open.png");
}

.door-blue-entered {
    background-image: url("../img/door_blue_open.png");
}

.door-blue-locked {
    background-image: url("../img/door_blue_locked.png");
}

#room-container {
    height: 50%;
}

#room-green {
}

#room-red {
}

#room-blue {
}

.room {
    height: 100%;
    border: 0;
}

.room-enabled {
    display: block;
}

.room-disabled {
    display: none;
}

.btn-pay {
    float: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 2%;
}

